.panel {
    background: white;
    border-radius: 24px;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.1);
    max-height: 38em;
    max-width: 600px;
    display: inline-block;
    overflow-y: auto;
    padding: .5em;
}

.panel::-webkit-scrollbar {
    width: 12px;               /* width of the entire scrollbar */
}
  
.panel::-webkit-scrollbar-track {
    background: #eceef0;    
    border-radius: 20px;    /* color of the tracking area */
}

.panel::-webkit-scrollbar-thumb {
    background-color: #53575c;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
    border: 3px solid #eceef0;  /* creates padding around scroll thumb */
}

.title {
    text-align: center;
    margin: .5em auto;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.filterText {
    width: 5em;
    font-size: 15px;
    margin: 0 2em;
}

.button {
    border-radius: 12px;
    border: 1px solid grey;
    margin: .8em;
    padding: .2em .6em;
    font-family: 'poppins', sans-serif;
}